.form-outer-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 1.5rem;
}

.form-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

@media (max-width: 767px) {
  .form-outer-container {
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
